<h2 align="center">
  View Specialization
</h2>
<div *ngIf="(specializationList?.length > 0)">
  <div class="table-responsive">

    <table align="center" class="table" style="border:2px solid rgba(220,230,242,1);" *ngIf="specializationList">
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th>Specialization Code</th>
        <th>Specialization Name</th>
        <th style="text-align:center" colspan="1">Action</th>
      </tr>

      <tr id="get_specialization"* style="background-color:white">
        <!--Add your logic here-->
        
      </tr>
    </table>

  </div>
</div>
<div *ngIf="showMsgDiv">
  <br />
  <h3 class="jumbotron" style="text-align:center;">No Specialization Available</h3>
</div>
