<h2 align="center">
  View Doctor
</h2>
<div *ngIf="(doctorList?.length > 0)">
  <div class="table-responsive">

    <table align="center" class="table" style="border:2px solid rgba(220,230,242,1);" *ngIf="doctorList">
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th>Doctor Id</th>
        <th>Doctor Name</th>
        <th style="text-align:center" colspan="2">Action</th>
      </tr>

      <tr id='getdoctor' style="background-color:white">
        <!--Add your logic here-->

        <td> <button class="btn">Edit Doctor Details</button></td>
        <td> <button class="btn">Delete Doctor Details</button></td>
      </tr>
    </table>

  </div>
</div>
<div *ngIf="!(doctorList?.length > 0)">
  <br/>
  <h3 class="jumbotron" style="text-align:center;">No Doctor Available</h3>
</div>

