<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:black;">
    <div class="navbar-header">
      <div class="nav navbar-nav" style="display:block; height:50px;padding-top:10px;padding-bottom:10px;padding-left:20px">
        <a style="font-size:30pt;color: aliceblue;text-decoration:none" routerLink="viewDoctors">CureWell</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size:12pt;color: aliceblue;text-decoration:none" routerLink="viewDoctors">View Doctors</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size:12pt;color: aliceblue;text-decoration:none" routerLink="viewSpecialization">View Specializations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size:12pt;color: aliceblue;text-decoration:none" routerLink="viewTodaySurgery">View Today's Surgery</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size:12pt;color: aliceblue;text-decoration:none" routerLink="addDoctor">Add Doctor</a>
      </div>
    </div>
  </div>
</nav>

<div style="text-align:center">
  <!--<h2>
    Welcome to {{title}}!
  </h2>-->
  <br /><br />
  <router-outlet>
  </router-outlet>

</div>
